* { margin:0px; padding:0px;height: 100%; }

/*Дивы*/
.Wrap
{
background: #4e92c9; /* Old browsers */
background: -moz-linear-gradient(left,  #4e92c9 0%, #1e5799 20%, #1e5799 80%, #4e92c9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#4e92c9), color-stop(20%,#1e5799), color-stop(80%,#1e5799), color-stop(100%,#4e92c9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #4e92c9 0%,#1e5799 20%,#1e5799 80%,#4e92c9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #4e92c9 0%,#1e5799 20%,#1e5799 80%,#4e92c9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #4e92c9 0%,#1e5799 20%,#1e5799 80%,#4e92c9 100%); /* IE10+ */
background: linear-gradient(to right,  #4e92c9 0%,#1e5799 20%,#1e5799 80%,#4e92c9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e92c9', endColorstr='#4e92c9',GradientType=1 ); /* IE6-9 */

min-height: 100%;
min-width: 700px;
}

.Main{
margin-left: 20%;
float : left;
width: 60%;
background: #ffffff;
min-width: 800px;
}

.Logo{
margin-left: 20%;
float : left;
width: 60%;
height: 20%;
min-height: 200px;
position: relative;

}

.table{
margin-left: auto;
margin-right: auto;
width: 80%;
height: 50%;
min-height: 200px;
position: relative;

}
/*Таблица*/
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	width: 100%;
	height: 60%;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #91c6f0;
	max-height: 10px;

}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ecf6ff;
}
/* Шрифты*/
@font-face {
    font-family: TestFont;
    src: url(TestFont1.ttf);
   }
    h1 {
     font-family: TestFont, 'Comic Sans MS', cursive;
     font-size: 1000%;
     color : #1f589a ;
     }
     h2 {
     font-family: TestFont, 'Comic Sans MS', cursive;
     font-size: 500%;
     color : #1f589a ;
     }
